/*------------------------------------*\
    $SITIO
\*------------------------------------*/

html {
	font-size: 62.5%;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-family: $basefont;
	font-size: fs(small);
	font-weight: 400;
	color: $dark;
	line-height: $baselineheight;
	text-rendering: optimizeLegibility;
	position: relative;
}

a,
button {
	cursor: pointer;
}
